<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Chittagong University of Engineering and Technology (CUET)
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            Bachelor of Science | February 2017- Present Computer Science and Engineering
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Notre Dame College
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            HSC-2016
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Mirpur Bangla School and College
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            SSC-2014
        </mat-card-content>
    </mat-card>
</div>